$font-size-11: 11px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-25: 25px;

$font-size-xx-small: $font-size-11;
$font-size-x-small: $font-size-12;
$font-size-small: $font-size-14;
$font-size-normal: $font-size-16;
$font-size-large: $font-size-18;
$font-size-x-large: $font-size-20;
$font-size-xx-large: $font-size-25;