$type-open-sans: "Open Sans", sans-serif;
$type-effra: "effra", sans-serif;
$type-fira: "fira-sans", sans-serif;
$type-lucida: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$type-gotham: "Gotham", sans-serif;
$type-proxima-nova: "proxima-nova", sans-serif;
$type-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
