.u-rule {
  border-left-width: 0;
  border-left-style: none;
  border-left-color: transparent;
  
  border-top-width: 0;
  border-top-style: none;
  border-top-color: transparent;
  
  margin-top: 20px;
  margin-bottom: 20px;
}