<section class="{{ include.class }}">
  
  <header class="main-header">
    
    <div class="c-heading">
      <h1>BEM Library</h1>
      <span>A library of minimal dependency components</span>
    </div>
    
    <a href="">View on GitHub</a>
    
    <nav class="c-navigation c-navigation--primary">
      <ul class="c-navigation-list">
        <li class="c-navigation-list-item">
          <a class="c-navigation-list-item-link" href="">Page Heading</a>
        </li>
        <li class="c-navigation-list-item">
          <a class="c-navigation-list-item-link" href="">Typography</a>
        </li>
        <li class="c-navigation-list-item">
          <a class="c-navigation-list-item-link" href="">Breadcrumb</a>
        </li>
      </ul>
    </nav>
    
  </header>
  
  <footer class="main-footer">
    <a href="https://github.com/waikitkan/bem-library/commits/gh-pages">Last updated on {{ site.time | date_to_long_string }}</a>
  </footer>
  
</section>