/*
.c-heading {}
  
  .c-heading-heading {}
  
  .c-heading-text {}
*/

.c-heading {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $color-border;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

  .c-heading-heading {
    font-size: $font-size-xx-large;
    font-weight: $font-weight-normal;
  }
  
  .c-heading-text {
    color: $color-text;
  }