/*
.o-media-block {
  overflow:hidden;
}
  
  .o-media-block-media {
    float:left;
  }
  
  .o-media-block-ext {
    float:right;
  }
  
  .o-media-block-body {
    overflow:hidden;
  }
*/

.o-media-block {
  display: flex;
  align-items: flex-start;
}
 
  .o-media-block-body {
    flex: 1;
  }